@model List<ProductAllViewModel>

@{
    ViewData["Title"] = "My Products";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

@if (!Model.Any())
{
    <h2 class="text-center">You have no products yet!</h2>
}

<div class="row">
    @foreach (ProductAllViewModel product in Model)
    {
        //TODO: Create separate view for buyers to display their purchases! Also add new Entity Purchase with DateTime BoughtOn property!
        <partial name="_ProductPartial" model="@product" />
    }
</div>